<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            App to predict from boston data
        </h1>
        <p>kindly enter all data</p>
    </div>
    <div class="form">
        <form action="/predict" method="post">
            <input type="number" name="CRIM" id="CRIM" placeholder="CRIM">
            <input type="number" name="ZN" id="ZN" placeholder="ZN">
            <input type="number" name="INDUS" id="INDUS" placeholder="INDUS">
            <input type="number" name="CHAS" id="CHAS" placeholder="CHAS">
            <input type="number" name="NOX" id="NOX" placeholder="NOX">
            <input type="number" name="RM" id="RM" placeholder="RM">
            <input type="number" name="AGE" id="AGE" placeholder="AGE">
            <input type="number" name="DIS" id="DIS" placeholder="DIS">
            <input type="number" name="RAD" id="RAD" placeholder="RAD">
            <input type="number" name="TAX" id="TAX" placeholder="TAX">
            <input type="number" name="PTRATIO" id="PTRATIO" placeholder="PTRATIO">
            <input type="number" name="B" id="B" placeholder="B">
            <input type="number" name="LSTAT" id="LSTAT" placeholder="LSTAT">
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>